abc1.txt
Deployment.ps1
USFTestCI.xml
Gitpush.ps1
Create_service_principal.ps1
Enable_Scope_Specification.ps1
Provide_certificate.ps1
Export_to_PFX.ps1
Service_principle_pwd.ps1
Role_Assignment.ps1
Logint_asureRM.ps1
ScriptDesc
PushChangesToCD.ps1
getPublichingCredentials
getPublichingCredentials.ps1~
Gitpush.ps1~
exp
PushChangesToCD
.PushChangesToCD.un~
*.un~
*~
getPublichingCredentials.ps1
